body {
    margin: 0;
    Font-family: Arial, Sans-serif;
    background: #f9f9f9;
}
    
header, main, footer {
    max-width: 1000px;
    margin: auto;
    padding:1em;

    
nav ul {
     display: flex;
     flex-wrap: wrap;
     gap: 1em;
     list-style: none;
     padding: 0;
}     
 
 nav ul li a {
     color:#1121d4
     text-decoration: none;
     font-weight: bold;
}
  
 table {
     width: 100%;
     border-collapse: collapse;
     margin-bottom: 2em;
}

 th, td {
     border: 1px solid #ddd;
     padding: 0.5em;
     text-align: left;
}
   
img {
     max-width: 100%;
     height: auto;
     display: block;
     margin: 1em 0;
}

 @media (max-width: 700px) {
    header, main, footer {
        padding: 0.5em;
    }
    table, th, td {
        font-size: 0.9em;
    }
    nav ul
        flex-direction: collum;
        gap: 0.5em;
    }
   
 
  
  
     


